{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "rules": {
    "import/no-unresolved": 0,
    "no-mixed-operators": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/no-multi-comp": 0,
    "react/forbid-prop-types": 0,
    "no-undef": 0,
    "react/no-find-dom-node": 0,
    "react/no-danger": 0,
    "react/jsx-no-target-blank": 0,
    "jsx-a11y/anchor-has-content": 0,
    "no-useless-escape": 0,
    "import/no-webpack-loader-syntax": 0,
    "comma-dangle": ["error", "always-multiline"],
    "react/no-unescaped-entities": 0,
    "jsx-a11y/alt-text": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/no-array-index-key": 0,
    "prefer-destructuring": 0,
    "react/jsx-closing-tag-location": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/require-default-props": 0,
    "jsx-a11y/iframe-has-title": 0,
    "jsx-a11y/media-has-caption": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "no-restricted-globals": 0,
    "jsx-a11y/accessible-emoji": 0
    // "no-unused-expressions": 0
  }
}
