@import "../../static/custom";

.principle-wrapper {
  width: 100%;
  .principle {
    width: 100%;
    min-height: 180px;
    display: inline-block;
    margin-right: 12.5%;
    padding: 24px;
    text-align: center;
    font-size: 24px;
    border-radius: 4px;
    border: 1px solid @line-color;
    margin-bottom: 24px;
    &:last-child {
      margin-right: 0;
    }
    h4 {
      margin: 16px 0 8px;
    }
    p {
      font-size: 12px;
      line-height: 24px;
    }
  }
}
