.addMoneyAnim {
  background: url('https://gw.alipayobjects.com/zos/rmsportal/fseEOKMDOXOieJiHKuQg.png') no-repeat;
  background-size: 420px 104px;
  width: 52px;
  height: 52px;
  animation: rotateMoney 0.45s step-start infinite;
}

.addMoneyFrame(@one, @frame, @i: 0, @name: 0%) when (@i =< @frame) {
  .addMoneyFrame(@one, @frame, @i + 1, (100% / @frame * (@i + 1)));
  @{name} {
    background-position: -(mod(@i, @one) * 52px) -(floor(@i / @one)*52px);
  }
}

@keyframes rotateMoney {
  .addMoneyFrame(8, 15);
}