/* 外壳样式 */
.table-enter-leave-demo-wrapper {
  position: relative;
  background: #ABC3FF;
  overflow: hidden;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-enter-leave-demo {
  box-shadow: 0 10px 40px #506CB2;
  width: 60%;
  min-width: 550px;
  height: 440px;
  background: #F4F4F4;
  border-radius: 6px;
  overflow: hidden;
}

.table-enter-leave-demo-header {
  height: 32px;
  line-height: 32px;
  background: #D8D8D8;
}

.table-enter-leave-demo-header ul li {
  list-style: none;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 4px;
  margin: 0 5px 0 0;
}

.table-enter-leave-demo-header ul li:nth-child(1) {
  background: #CF3333;
  margin-left: 3%;
}

.table-enter-leave-demo-header ul li:nth-child(2) {
  background: #DEC811;
}

.table-enter-leave-demo-header ul li:nth-child(3) {
  background: #28C026;
}

.table-enter-leave-demo-header ul li:nth-child(4) {
  background: #fff;
  width: 80%;
  height: 16px;
  vertical-align: middle;
  margin: 0 10px;
}

.table-enter-leave-demo-header ul li:nth-child(5),
.table-enter-leave-demo-header ul li:nth-child(5):before,
.table-enter-leave-demo-header ul li:nth-child(5):after {
  width: 20px;
  height: 2px;
  background: #BABABA;
  border-radius: 2px;
}

.table-enter-leave-demo-header ul li:nth-child(5) {
  vertical-align: middle;
  margin-left: 5px;
  position: relative;
}

.table-enter-leave-demo-header ul li:nth-child(5):before,
.table-enter-leave-demo-header ul li:nth-child(5):after {
  content: '';
  display: block;
  position: absolute;
}

.table-enter-leave-demo-header ul li:nth-child(5):before {
  top: -6px;
}

.table-enter-leave-demo-header ul li:nth-child(5):after {
  top: 6px;
}

/* 外壳 end */

.table-enter-leave-demo-nav {
  height: 50px;
  background: #080B20;
  line-height: 50px;
}

.table-enter-leave-demo-nav span {
  margin-left: 20px;
}

.table-enter-leave-demo-nav img:first-child {
  filter: grayscale(1) brightness(3);
}

.table-enter-leave-demo-nav img:last-child {
  margin-left: 10px;
}

.table-enter-leave-demo-list {
  width: 20%;
  height: calc(100% - 82px);
  display: inline-block;
  background: #171C3E;
}

.table-enter-leave-demo-list ul li {
  width: 80%;
  height: 15px;
  background: #23274A;
  margin: 20px auto;
  border-radius: 4px;
}

.table-enter-leave-demo-table-wrapper {
  width: 80%;
  display: inline-block;
  overflow: auto;
  height: calc(100% - 82px);
}

.table-enter-leave-demo-action-bar {
  margin: 20px;
  background: #fff;
  line-height: 40px;
  height: 40px;
  position: relative;
  border-radius: 4px;
}

.table-enter-leave-demo-action-bar:before, .table-enter-leave-demo-action-bar:after {
  content: '';
  display: inline-block;
  background: #E5E5E5;
  vertical-align: middle;
}

.table-enter-leave-demo-action-bar:before {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-left: 10px;
}

.table-enter-leave-demo-action-bar:after {
  position: absolute;
  width: 100px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 40px;
}

.table-enter-leave-demo-action-bar button {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80px;
  height: 20px;
  border-radius: 4px;
  line-height: 1;
}

.table-enter-leave-demo-delete {
  color: #019BF0;
  cursor: pointer;
}

.table-enter-leave-demo-table {
  margin: 0 20px;
}

.table-enter-leave-demo-table .ant-table-thead > tr > th {
  background: #E5E5E5;
  padding: 10px 8px;
  display: inline-block;
}
.table-enter-leave-demo-table .ant-table-tbody > tr{
  background: #fff;
  /* 不能用
  border-bottom: 1px solid #e9e9e9;
  */
}
.table-enter-leave-demo-table .ant-table-tbody > tr > td {
  padding: 10px 8px;
  display: inline-block;
  vertical-align: bottom;
}


.table-enter-leave-demo-table .ant-table-thead > tr, .table-enter-leave-demo-table .ant-table-tbody > tr {
  display: block;
}

.table-enter-leave-demo-table .ant-table-thead > tr, .table-enter-leave-demo-table .ant-table-tbody > tr {
  transition: none;
}
.table-enter-leave-demo-table .ant-table-thead > tr > th:nth-child(1), .table-enter-leave-demo-table .ant-table-tbody > tr > td:nth-child(1) {
  width: 25%;
}
.table-enter-leave-demo-table .ant-table-thead > tr > th:nth-child(2), .table-enter-leave-demo-table .ant-table-tbody > tr > td:nth-child(2) {
  width: 15%;
}
.table-enter-leave-demo-table .ant-table-thead > tr > th:nth-child(3), .table-enter-leave-demo-table .ant-table-tbody > tr > td:nth-child(3) {
  width: 40%;
}
.table-enter-leave-demo-table .ant-table-thead > tr > th:nth-child(4), .table-enter-leave-demo-table .ant-table-tbody > tr > td:nth-child(4) {
  width: 20%;
}

@media screen and (max-width: 414px) {
  .table-enter-leave-demo {
    transform: scale(.65) translateX(12px);
    transform-origin: left center;
  }
}

@media screen and (max-width: 375px) {
  .table-enter-leave-demo {
    transform: scale(.6) translateX(7px);
  }
}

@media screen and (max-width: 320px) {
  .table-enter-leave-demo {
    transform: scale(.5) translateX(12px);
  }
}
