@import "../common/custom.less";

.motion-overlay {
  z-index: 9999;
  position: absolute;
  background-color: fade(@primary-color, 50);
  cursor: pointer;
  pointer-events: none;
  transition: height .3s @ease-in-out-circ, width .3s @ease-in-out-circ, top .3s @ease-in-out-circ, left .3s @ease-in-out-circ;
}

